nav {
    background-color: rgba(64, 224, 208, 0.6);
    position :fixed;
    width : 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}


body {
    background-color:  rgba(47, 113, 163, 0.959);
    }
    
nav ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap: 10px;
    padding-right: 50px;
}

nav ul li{
    display: inline
}

nav ul li a{
    text-decoration: none;
    color: darkgreen;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 18px;
    transition: 0.4s;
}

nav ul li a:hover{
   background-color:darkgrey;
}
