label{
    font-size: 20px;
    font-family:monospace;
    font-weight: bold;
    line-height: 30px;
    position: fixed;
    margin: 10px 20px;
    padding: 2px 7px;
    color:rgb(0, 139, 107);


}

nav {
    background-color: rgba(64, 224, 208, 0.6);
    position :fixed;
    width : 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}