body{
    font-family: 'Times New Roman', Times, serif;
    background: url('../images/background\ image.png');
    background-size: cover;
    height: 100vh;

}

.main nav{
 background:teal;
height: 60px;
width: 100%;
}
.Logo {
    color:rgb(28, 177, 103);
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    margin: 0 20px;

}

.main nav ul {
float: right;
margin-right: 50px;
margin-top: 20px;
}

.main nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.main nav ul li a{
    font-size: 18px;
    color: cyan;
    text-decoration: none;
}

a.active{
    background: darkslategray;
    padding: 10px 30px;
    border-radius: 35px;
}

/* Layout for Content */
.home {
    display:flex;
    align-items:center;
    height: 50vh;
    padding-top: 2px; /* Prevent navbar overlap */
}



/* Caption on the left */
.title {
    flex: 1;
    text-align:center; /* Align text to the left */
    padding: 10px;
}

.title h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.title {
    font-size: 16px;
    color: #07a293;
}

.title h2 {
    font-size: 50px;
    color: #059452d2;
}

