body{
    font-family: 'Times New Roman', Times, serif;
    background: url('../images/background\ image.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;

}


.main nav{
 background:teal;
height: 60px;
width: 100%;
}
.Logo {
    color:rgb(28, 177, 103);
    font-size: 25px;
    font-weight: bold;
    line-height: 80px;
    margin: 0 20px;

}

.main nav ul {
float: right;
margin-right: 50px;
margin-top: 20px;
}

.main nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.main nav ul li a{
    font-size: 18px;
    color: cyan;
    text-decoration: none;
}

a.active{
    background: darkslategray;
    padding: 10px 30px;
    border-radius: 35px;
}

/* Layout for Content */
.home {
    display:flex;
    align-items:center;
    height: 50vh;
    padding-top: 2px; /* Prevent navbar overlap */
}



/* Caption on the left */
.title {
    flex: 1;
    text-align:center; /* Align text to the left */
    padding: 10px;
    
}


.title h1{
    font-size: 32px;
    color:#E0FFFF;
   /* margin-right: 72px; /* adjust this value as needed */
    transform: translateX(-40px); /* Adjust this value to shift it left */
    font-family: 'Cinzel', serif;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

}

.title h2 {
    font-size: 34px;
    margin-top: 60px;
    color:#FFF8E1;
    font-family:'Cinzel', serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}


  .main-footer {
    background-color:teal;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .main-footer a {
    color: #9ec5ff;
    text-decoration: none;
  }
  
  .main-footer a:hover {
    text-decoration: underline;
  }
  